<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duke.lifecycle">

    <application>
        <activity android:name=".demo2.Lifecycle2Activity"></activity>
        <activity android:name=".demo1.LifecycleActivity" />
    </application>

</manifest>